.App-header{
  background-color: rgb(15, 15, 15);
  height: 15vh;
  display: flex;
}
.App-header img{
  width: 140px;
}

.section1{
  background-color: rgb(175, 14, 14);
  height: 85vh;
}

.section2{
  background-color: rgb(104, 12, 12);
  height: 85vh;
  width: 100%;
}
footer{
  background-color: rgb(32, 32, 114);
  height: 15vh;
}